This notebook is here to reduce the size of the population.csv (~ 4Gb) to make it easier to work with it.
The data used can be found [here](https://www.pxweb.bfs.admin.ch/Selection.aspx?px_language=fr&px_db=px-x-0102010000_101&px_tableid=px-x-0102010000_101\px-x-0102010000_101.px&px_type=PX)

In [1]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import show
import re

In [2]:
df = pd.read_csv('data/population.csv')

In [3]:
df.shape

(27528984, 8)

In [4]:
df.columns = ['id', 'age', 'nationality', 'sex', 'population_type', 'commune', 'year', 'value']

In [5]:
df = df.drop('id', 1)

In [6]:
df.head()

,age,nationality,sex,population_type,commune,year,value
0,Alter - Total,Staatsangehörigkeit - Total,Geschlecht - Total,Ständige Wohnbevölkerung,Schweiz,2010,7870134
1,0 Jahre,Staatsangehörigkeit - Total,Geschlecht - Total,Ständige Wohnbevölkerung,Schweiz,2010,78031
2,1 Jahr,Staatsangehörigkeit - Total,Geschlecht - Total,Ständige Wohnbevölkerung,Schweiz,2010,79351
3,2 Jahre,Staatsangehörigkeit - Total,Geschlecht - Total,Ständige Wohnbevölkerung,Schweiz,2010,78793
4,3 Jahre,Staatsangehörigkeit - Total,Geschlecht - Total,Ständige Wohnbevölkerung,Schweiz,2010,77708

In [7]:
#remove Data totals and usless column
df = df[df['commune'] != 'Schweiz']
df = df.loc[(df.population_type.str.contains('Ständige Wohnbevölkerung') == True)]
df = df.drop('population_type', 1)
df = df.loc[(df.sex.str.contains('Total') == False)]
df = df.loc[(df.nationality.str.contains('Total') == False)]
df = df.loc[(df.age.str.contains('Total') == False)]

In [8]:
df.shape

(6055152, 6)

In [9]:
#remove districts and cantons
df = df.loc[(df.commune.str.contains('>>') == False)]
df = df.loc[(df.commune.str.contains('- ') == False)]

In [10]:
df.shape

(5633376, 6)

In [11]:
#replace names with a char to reduce the size of the csv
df['sex'] = df['sex'].str.replace("Frau","F")
df['sex'] = df['sex'].str.replace("Mann","M")

In [12]:
df['nationality'] = df['nationality'].str.replace("Ausland","A")
df['nationality'] = df['nationality'].str.replace("Schweiz","S")

In [13]:
regex = re.compile(r"( Jahr(e)?| und mehr)")
df['age'].replace(to_replace=regex, value='', inplace=True,regex=True)

In [14]:
#split municipalty and id
df['id'], df['commune'] = df['commune'].str.split(' ', 1).str
regex = re.compile(r"\.{6}")
df['id'].replace(to_replace=regex, value='', inplace=True, regex=True)
df['id'] = df['id'].astype(int)

In [15]:
df.head()

     age nationality sex          commune  year  value  id
5917   0           S   M  Aeugst am Albis  2010      8   1
5918   1           S   M  Aeugst am Albis  2010      9   1
5919   2           S   M  Aeugst am Albis  2010      7   1
5920   3           S   M  Aeugst am Albis  2010     13   1
5921   4           S   M  Aeugst am Albis  2010      5   1

In [16]:
df.to_csv('data/population_cleaned.csv', index=False)