In [1]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import show
import re

In [3]:
xl = pd.ExcelFile("data/je-f-17.03.03.bx.608.c.xls")

In [4]:
xl.sheet_names

['Communes', 'Urnes communes']

In [5]:
df = xl.parse("Communes")

In [15]:
df.head(100)
df1 = df.ix[7:]
df1 = df1.drop('Votation populaire du 27 novembre 2016', 1)
df1 = df1.drop('Unnamed: 1', 1)
for i in range (4, 13):
    df1 = df1.drop('Unnamed: ' + str(i), 1)
df1.columns = ['id', 'name']
df1.set_index(['id'])
df1.head()

   id                name
7   1     Aeugst am Albis
8   2  Affoltern am Albis
9   3          Bonstetten
10  4     Hausen am Albis
11  5            Hedingen

In [16]:
df1.to_csv('data/ids', index=False)