In [1]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import show

%matplotlib inline
sns.set_context('notebook')
pd.options.mode.chained_assignment = None  # default='warn'
pd.set_option('display.max_columns', 500) # show more columns
nan = np.nan # store numpy.nan in 'nan'

In [15]:
raw_o40= pd.read_csv('deaths_over40_utf8_raw.csv', sep=';', header=1)
raw_sub40 = pd.read_csv('deaths_sub40_utf8_raw.csv', sep=';', header=1)
raw_tot = pd.read_csv('deaths_total_utf8_raw.csv', sep=';', header=1)

# rename the columns
d = {'Jahr':'year', 'Kanton (-) / Bezirk (>>) / Gemeinde (......)': 'commune_name', 
     'Zivilstand - Total Unter 20 Jahre':'death age 0-20',
     'Zivilstand - Total 20-29 Jahre':'death age 20-29',
     'Zivilstand - Total 30-39 Jahre':'death age 30-39',
                   'Zivilstand - Total 40-49 Jahre':'death age 40-49',
                   'Zivilstand - Total 50-59 Jahre':'death age 50-59',
                    'Zivilstand - Total 60-69 Jahre':'death age 60-69',
                    'Zivilstand - Total 70-79 Jahre':'death age 70-79',
                    'Zivilstand - Total 80-89 Jahre':'death age 80-89',
                    'Zivilstand - Total 80 Jahre und mehr':'death age 90+',
    'Zivilstand - Total Altersklasse - Total':'total deaths'}
raw_sub40.rename(columns=d, inplace=True)
raw_o40.rename(columns=d, inplace=True)
raw_tot.rename(columns=d, inplace=True)

raw_o40.drop(['Geschlecht', 'Staatsangehörigkeit'], inplace=True, axis=1)
raw_sub40.drop(['Geschlecht', 'Staatsangehörigkeit'], inplace=True, axis=1)
raw_tot.drop(['Geschlecht'], inplace=True, axis=1)

In [16]:
raw_o40.head()

,year,commune_name,death age 40-49,death age 50-59,death age 60-69,death age 70-79,death age 80-89,Zivilstand - Total 90 Jahre und mehr
0,2013,Schweiz / Suisse / Svizzera / Switzerland,1490,3517,6927,12042,23430,16174
1,2013,- Zürich,270,583,1101,1981,3958,2674
2,2013,>> Bezirk Affoltern,12,20,46,66,109,69
3,2013,......0001 Aeugst am Albis,1,1,0,3,7,1
4,2013,......0002 Affoltern am Albis,1,3,10,19,28,13

In [17]:
raw_sub40.head()

,year,commune_name,death age 0-20,death age 20-29,death age 30-39
0,2013,Schweiz / Suisse / Svizzera / Switzerland,524,333,524
1,2013,- Zürich,101,47,77
2,2013,>> Bezirk Affoltern,1,3,0
3,2013,......0001 Aeugst am Albis,0,0,0
4,2013,......0002 Affoltern am Albis,0,1,0

In [18]:
raw_tot.head()

,year,commune_name,Staatsangehörigkeit,total deaths
0,2013,Schweiz / Suisse / Svizzera / Switzerland,Staatsangehörigkeit - Total,64961
1,2013,Schweiz / Suisse / Svizzera / Switzerland,Schweiz,59019
2,2013,Schweiz / Suisse / Svizzera / Switzerland,Ausland,5942
3,2013,- Zürich,Staatsangehörigkeit - Total,10792
4,2013,- Zürich,Schweiz,9765

In [22]:
# remove cantons and bezirk and remove '......' from names
def _remove_dots(row):
    return row['commune_name'].replace('......', '')
def _keep_only_communes(df):
    tmp = df[df['commune_name'].str.find('....') >= 0]
    tmp['commune_name'] = tmp.apply(_remove_dots, axis=1)
    return tmp

In [23]:
raw_o40 = _keep_only_communes(raw_o40)
raw_sub40 = _keep_only_communes(raw_sub40)
raw_tot = _keep_only_communes(raw_tot)

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series