The data used here can be found [here](https://www.pxweb.bfs.admin.ch/Selection.aspx?px_language=fr&px_db=px-x-0702000000_104&px_tableid=px-x-0702000000_104\px-x-0702000000_104.px&px_type=PX).

We gathered the data from 2013-2015 (2016) is not available. However, the names of the municipalities are those from the year 2016 (or later). In ordrer to have some data for the right municipality names, we assume that the ratio cow/inhabitant doesn't change between the municipalities that merge together.

In [2]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import show
import re

In [3]:
df = pd.read_csv('../data/data_to_be_processed/raw_data/cows.csv', encoding='latin_1', skiprows=2, delimiter=';')

In [3]:
df = df.drop(['Système d\'exploitation'], axis=1)
df.columns = ['year', 'commune', 'cows']
df.head()

   year                        commune     cows
0  2013                       - Suisse  1557474
1  2013                       - Zürich    93233
2  2013           >>  Bezirk Affoltern     9315
3  2013     ......0001 Aeugst am Albis      622
4  2013  ......0002 Affoltern am Albis      596

### Preprocessing

In [4]:
#remove districts
df = df.loc[(df.commune.str.contains('>>') == False)]
#remove cantons
df = df.loc[(df.commune.str.contains('- ') == False)]
#remove swiss total
df = df[df['commune'] != '- Suisse']
#rewrite commune name
df['id'], df['commune'] = df['commune'].str.split(' ', 1).str
regex = re.compile(r"\.{6}")
df['id'].replace(to_replace=regex, value='', inplace=True, regex=True)
df['id'] = df['id'].astype(int)


df = df[~df.commune.str.isnumeric()]

In [5]:
f = pd.read_csv("../data/data_to_be_processed/cleaned_data/fusion_mappingsBefore02-01-2016.csv")
f = f[f.date.str.contains('2016')]
f.head()

     pre_id           pre_name  post_id          post_name        date
698     175             Kyburg      296  Illnau-Effretikon  01.01.2016
699     174  Illnau-Effretikon      296  Illnau-Effretikon  01.01.2016
700     532          Bangerten      310    Rapperswil (BE)  01.01.2016
701     417         Niederösch      405            Ersigen  01.01.2016
702     419           Oberösch      405            Ersigen  01.01.2016

In [6]:
fu = pd.merge(f, df, left_on='post_name', right_on='commune', how='right')
fu[fu.id.duplicated()]
fu['commune'] = fu['pre_name'].fillna(fu['commune'])
fu['compute_ratio_id'] = fu['id']
fu['id'] = fu['pre_id'].fillna(fu['id'])
fu['id'] = fu['id'].astype(int)
fu['compute_ratio_id'] = fu['compute_ratio_id'].astype(int)
fu.drop(['pre_id', 'pre_name', 'post_id', 'post_name', 'date'], axis=1, inplace=True)
fu.head()

   year            commune  cows   id  compute_ratio_id
0  2013             Kyburg  1573  175               296
1  2013  Illnau-Effretikon  1573  174               296
2  2014             Kyburg  1590  175               296
3  2014  Illnau-Effretikon  1590  174               296
4  2015             Kyburg  1675  175               296

In [7]:
fu.shape[0] /3

2324.0

In [11]:
mun = pd.read_csv('../data/municipalities/2016/data_commune.csv')
mun.drop([mun.columns[i] for i in [1,3,4,5,6,7,8]], axis=1, inplace=True)
data = mun

fusion = pd.read_csv("../data/data_to_be_processed/cleaned_data/fusion_mappingsBefore02-01-2016csv")
fusion = fusion[fusion.date.str.contains('2016')]
fusion['post_id'] = fusion['post_id'].astype(int)
#if use again check if outer is the rigth join
merged = pd.merge(fusion, data, left_on='pre_id', right_on='id', how='outer')
merged['id'] = merged['post_id'].fillna(merged['id'])
merged['id'] = merged['id'].astype(int)
merged.drop(['pre_id', 'pre_name', 'post_id', 'post_name', 'date'], axis=1, inplace=True)
merged = merged.groupby(['id'], as_index=False).sum()
merged.head()

   id  total_inhabitants
0   1               1981
1   2              11707
2   3               5326
3   4               3477
4   5               3659

In [12]:
for year in range (2013, 2017):    
    #filter out by year
    if(year == 2016):
        tmp = fu[fu['year'] == 2015]
        tmp = tmp.drop('year', axis=1)
    else:
        tmp = fu[fu['year'] == year]
        tmp = tmp.drop('year', axis=1)
    cows = pd.merge(tmp, merged, left_on='compute_ratio_id', right_on='id', how='left')
    cows['cow_ratio'] = cows['cows'] / cows['total_inhabitants']
    cows.cow_ratio = cows.cow_ratio.round(2)
    cows.drop(['compute_ratio_id', 'id_y', 'total_inhabitants', 'cows'], axis=1, inplace=True)
    cows.columns = ['commune', 'id', 'cow_ratio']
    cows.to_csv('../data/municipalities/%d/data_cows.csv' % year, index=False)
cows.head()

             commune   id  cow_ratio
0             Kyburg  175       0.10
1  Illnau-Effretikon  174       0.10
2          Bangerten  532       0.66
3    Rapperswil (BE)  310       0.66
4         Niederösch  417       0.50

In [13]:
cows[cows.cow_ratio > 2]

                     commune    id  cow_ratio
215              La Ferrière   435       2.07
216            Mont-Tramelan   437       5.35
228                  Champoz   683       2.20
241                 Schelten   708       8.16
242                   Seehof   709       7.74
245               Rebévelier   715       7.53
246                Petit-Val   716       3.27
285                Meienried   389       2.52
322              Oeschenbach   335       2.25
326           Rohrbachgraben   339       2.34
334          Walterswil (BE)   959       2.54
337                   Berken   972       2.65
347               Ochlenberg   985       2.44
372              Rumendingen   421       2.42
380                  Eggiwil   901       2.22
383   Röthenbach im Emmental   904       2.33
385                Schangnau   906       2.82
387                     Trub   908       2.79
419                Wiggiswil   553       2.47
431                Landiswil   613       2.16
448              Clavaleyres   661       5.04
459               Guggisberg   852       2.53
476              Rüeggisberg   880       2.02
496        Horrenbach-Buchen   932       2.54
503         Teuffenthal (BE)   940       2.39
509              Wachseldorn   946       2.55
512                 Boltigen   791       2.25
529     Oberwil im Simmental   766       2.83
551                  Saxeten   591       2.26
615               Ebersecken  1126       3.94
...                      ...   ...        ...
1931            Mollens (VD)  5431       2.12
1937     Chavannes-le-Veyron  5475       4.61
1963                Clarmont  5629       2.36
2122                  Bister  6172       2.35
2193              Montalchez  6411       2.56
2199         Les Planchettes  6422       2.17
2202              La Brévine  6432       5.22
2203            Brot-Plamboz  6433       6.15
2204    Le Cerneux-Péquignot  6434       3.60
2205      La Chaux-du-Milieu  6435       2.38
2219        La Côte-aux-Fées  6504       2.34
2220           Les Verrières  6511       3.30
2268              Bourrignon  6703       4.73
2277              Ederswiler  6713       2.68
2281                 Pleigne  6719       3.54
2289          Le Bémont (JU)  6741       4.54
2292   La Chaux-des-Breuleux  6744       2.94
2293              Les Enfers  6745       2.91
2296              Montfaucon  6751       2.16
2297                 Muriaux  6753       3.16
2300             Saint-Brais  6758       4.00
2301                  Soubey  6759       6.46
2303             Beurnevésin  6773       3.07
2312               Damphreux  6787       4.92
2313                    Fahy  6789       2.76
2315           Grandfontaine  6792       2.55
2316                  Lugnez  6793       2.44
2318                 Rocourt  6803       2.37
2321           Clos du Doubs  6808       3.38
2322             Haute-Ajoie  6809       2.62

[116 rows x 3 columns]