In [1]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import show

%matplotlib inline
sns.set_context('notebook')
pd.options.mode.chained_assignment = None  # default='warn'
pd.set_option('display.max_columns', 500) # show more columns
nan = np.nan # store numpy.nan in 'nan'

In [2]:
area = pd.read_csv('../data/municipalities/2013/area_data.csv')
pop13 = pd.read_csv('../data/municipalities/2013/data_commune.csv')
pop14 = pd.read_csv('../data/municipalities/2014/data_commune.csv')
pop15 = pd.read_csv('../data/municipalities/2015/data_commune.csv')
pop16 = pd.read_csv('../data/municipalities/2016/data_commune.csv')

In [3]:
d13 = area.merge(on='id', right=pop13[['id', 'total_inhabitants']])
d14 = area.merge(on='id', right=pop14[['id', 'total_inhabitants']])
d15 = area.merge(on='id', right=pop15[['id', 'total_inhabitants']])
d16 = area.merge(on='id', right=pop16[['id', 'total_inhabitants']])

In [4]:
d13['inhabitant per km^2'] = d13['total_inhabitants'] / d13['area_km^2']
d14['inhabitant per km^2'] = d14['total_inhabitants'] / d14['area_km^2']
d15['inhabitant per km^2'] = d15['total_inhabitants'] / d15['area_km^2']
d16['inhabitant per km^2'] = d16['total_inhabitants'] / d16['area_km^2']

In [5]:
d13['inhabitant per km^2'] = np.round(d13['inhabitant per km^2'], 2)
d14['inhabitant per km^2'] = np.round(d14['inhabitant per km^2'], 2)
d15['inhabitant per km^2'] = np.round(d15['inhabitant per km^2'], 2)
d16['inhabitant per km^2'] = np.round(d16['inhabitant per km^2'], 2)

In [6]:
d13.drop(['area_km^2', 'total_inhabitants'], axis=1, inplace=True)
d14.drop(['area_km^2', 'total_inhabitants'], axis=1, inplace=True)
d15.drop(['area_km^2', 'total_inhabitants'], axis=1, inplace=True)
d16.drop(['area_km^2', 'total_inhabitants'], axis=1, inplace=True)

In [7]:
area.head()

     id  area_km^2
0  4551      19.90
1  4001      12.33
2   301       7.92
3  4271       4.42
4   321       9.87

In [8]:
d13.head()

     id  inhabitant per km^2
0  4551               425.78
1  4001              1636.42
2   301               539.52
3  4271              1636.20
4   321               430.80

In [9]:
d14.head()

     id  inhabitant per km^2
0  4551               432.11
1  4001              1657.75
2   301               558.33
3  4271              1711.31
4   321               436.68

In [10]:
d15.head()

     id  inhabitant per km^2
0  4551               441.86
1  4001              1678.99
2   301               571.59
3  4271              1746.83
4   321               446.40

In [11]:
d16.head()

     id  inhabitant per km^2
0  4551               441.86
1  4001              1678.99
2   301               571.59
3  4271              1746.83
4   321               446.40

In [16]:
# check integrity
ids_commune = pd.read_csv("../data/municipalities/2015/id_commune_2015.csv")
correct_ids = np.array(ids_commune['id'].values)

data = d13

missing_in_data = []
missing_in_id = []
for i in correct_ids:
    if i not in data['id'].values:
        missing_in_data.append(i)
for i in data['id'].values:
    if i not in correct_ids:
        missing_in_id.append(i)

print("correct_ids_comune", ids_commune.shape)
print("data", data.shape)
print()

print("len(missing_in_data)", len(missing_in_data))
print("missing_in_data", missing_in_data)

print("len(missing_in_id)", len(missing_in_id))
print("missing_in_id", missing_in_id)

correct_ids_comune (2324, 2)
data (2324, 2)

len(missing_in_data) 0
missing_in_data []
len(missing_in_id) 0
missing_in_id []

In [13]:
d13.to_csv('../data/municipalities/2013/population_density.csv', index=False)
d14.to_csv('../data/municipalities/2014/population_density.csv', index=False)
d15.to_csv('../data/municipalities/2015/population_density.csv', index=False)
d16.to_csv('../data/municipalities/2016/population_density.csv', index=False)