The data used here can be found [here](http://www.portal-stat.admin.ch/gde-tool/core/xshared/gewo.php?lng=de-de).

In [23]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import show
import re

In [24]:
# xl.sheet_names
x = pd.read_excel("../data/data_to_be_processed/raw_data/municipalities_fusion.xls", sheetname='exportList', skiprows=13)
x.drop([x.columns[i] for i in [0,1,2,5,6]], axis=1, inplace=True)
x.columns = ['pre_id', 'pre_name', 'post_id', 'post_name', 'date']

r = pd.read_excel("../data/data_to_be_processed/raw_data/municipalities_renaming.xls", sheetname='exportList', skiprows=13)
r.drop([r.columns[i] for i in [0,1,2,5,6]], axis=1, inplace=True)
r.columns = ['pre_id', 'pre_name', 'post_id', 'post_name', 'date']
r.head(200)
r = r[r.pre_name == r.post_name]
x = x.append(r, ignore_index=True)
x.shape

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

(802, 5)

In [25]:
r[r.pre_name == r.post_name].shape

(24, 5)

In [26]:
x.shape

(802, 5)

In [27]:
x[x.post_name == 'Rapperswil (BE)']

     pre_id         pre_name  post_id        post_name        date
502     548     Ruppoldsried      310  Rapperswil (BE)  01.01.2013
700     532        Bangerten      310  Rapperswil (BE)  01.01.2016
783     310  Rapperswil (BE)      310  Rapperswil (BE)  01.01.2016

In [28]:
#some municipalities have not fusionned on the 01.01.201**
t = x.loc[(x.date.str.contains('01.01') == False)]
t.head()

   pre_id   pre_name  post_id       post_name        date
5    6053  Biel (VS)     6073      Grafschaft  01.10.2000
6    6068  Ritzingen     6073      Grafschaft  01.10.2000
7    6069  Selkingen     6073      Grafschaft  01.10.2000
8    6108     Guttet     6117  Guttet-Feschel  01.10.2000
9    6106    Feschel     6117  Guttet-Feschel  01.10.2000

In [29]:
x = x.append(pd.DataFrame([[5248,'Casima',5249,'Castel San Pietro','04.04.2004']], columns=x.columns), ignore_index=True)
x = x.append(pd.DataFrame([[5256,'Monte',5249,'Castel San Pietro','04.04.2004']], columns=x.columns), ignore_index=True)

In [30]:
x.shape

(804, 5)

We must remove all the fusion that append during the year 2016 => > 01.01.2016

In [31]:
pd.to_datetime(x.date, dayfirst=True)

0     2000-01-01
1     2000-01-01
2     2000-01-01
3     2000-01-01
4     2000-01-01
5     2000-10-01
6     2000-10-01
7     2000-10-01
8     2000-10-01
9     2000-10-01
10    2001-01-01
11    2001-01-01
12    2001-01-01
13    2001-01-01
14    2001-01-01
15    2001-01-01
16    2001-01-01
17    2001-01-01
18    2001-01-01
19    2001-01-01
20    2001-01-01
21    2001-01-01
22    2001-01-01
23    2001-01-01
24    2001-01-01
25    2001-01-01
26    2001-01-01
27    2001-01-01
28    2001-01-01
29    2001-01-01
         ...
774   2017-01-01
775   2017-01-01
776   2017-01-01
777   2017-01-01
778   2015-01-01
779   2015-01-01
780   2015-01-01
781   2015-01-01
782   2015-01-01
783   2016-01-01
784   2016-01-01
785   2016-01-01
786   2016-01-01
787   2016-01-01
788   2016-01-01
789   2016-01-01
790   2016-01-01
791   2016-04-10
792   2016-04-10
793   2017-01-01
794   2017-01-01
795   2017-01-01
796   2017-01-01
797   2017-01-01
798   2017-01-01
799   2017-01-01
800   2017-01-01
801   2017-01-01
802   2004-04-04
803   2004-04-04
Name: date, dtype: datetime64[ns]

In [33]:
x.to_csv('../data/data_to_be_processed/cleaned_data/fusion_mappings.csv', index=False)

In [34]:
x = x[pd.to_datetime(x.date, dayfirst=True) <= np.datetime64('2016')]

In [35]:
x.to_csv('../data/data_to_be_processed/cleaned_data/fusion_mappingsBefore02-01-2016.csv', index=False)